/*Transition*/
.ui-viewport-transitioning .ui-panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-viewport-transitioning .ui-loading {
    -webkit-animation-name: none;
}
.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
}
.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 225ms;
}

/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
.slide.out, .slide.in {
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 350ms;
}
.slide.out {
    -webkit-animation-name: slideouttoleft;
    -webkit-transform: translateX(-100%);
}

.slide.in {
    -webkit-animation-name: slideinfromright;
    -webkit-transform: translateX(0);
}

.slide.out.reverse {
    -webkit-animation-name: slideouttoright;
    -webkit-transform: translateX(100%);
}

.slide.in.reverse {
    -webkit-animation-name: slideinfromleft;
    -webkit-transform: translateX(0);
}

.ui-loading {
    width: 40px;
    height: 40px;
    text-indent: -10000px;
    background: url('../images/ui-loading.png') 0 0 no-repeat;
    -webkit-background-size: 40px 40px;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
    from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.ui-tabs {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui-tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 11;
    position: relative;
}
.ui-tabs-content {
    position: relative;
    min-height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: height 200ms ease-in-out;
}
.ui-tabs-content .ui-tabs-panel {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    min-height: 100px;
}
.ui-tabs-panel {
    -webkit-transform: translateZ(0);
}
.ui-tabs-content .ui-tabs-panel.ui-state-active, .ui-viewport-transitioning .ui-tabs-panel.out {
    display: block;
    z-index: 1;
}
.ui-tabs-content .ui-tabs-panel.ui-state-active {
    z-index: 2;
}

.ui-tabs-nav {
    display: -webkit-box;
    width: 100%;
}
.ui-tabs-nav li {
    border: solid #d4d4d4;
    border-width: 1px 0 1px 1px;
    -webkit-box-flex:1;
    text-align: center;
    color: #4a4a4a;
    font-size: 16px;
    background-color: #f4f4f4;
    height: 35px;
    line-height: 35px;
    white-space:nowrap;/*内容不换行*/
    cursor: pointer;
}
.ui-tabs-nav li a {
    text-decoration: none;
    color: #4a4a4a;
}
.ui-tabs-nav li:last-child {
    border-width: 1px;
}
.ui-tabs-nav li.ui-state-active{
    background-color: #fff;
    border-bottom-color:#fff;
}
.ui-tabs-content {
    border: solid #d4d4d4;
    border-width: 0 1px 1px;
}
.ui-tabs-content .ui-tabs-panel {
    /*padding: 1em;*/
}
.ui-tabs-panel .ui-loading {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-top: -20px;
    margin-left: -20px;
}
.ui-tabs-panel .ui-load-error {
    color: red;
    text-align: center;
}